<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}" />
<body>
<div class="container">
  <div th:replace="~{fragments/bodyHeader :: bodyHeader}"/>
  <div style="text-align: center; margin-top: 50px;">
    <h2>구매 해주셔서 감사합니다</h2>

    카카오페이 결제가 정상적으로 완료되었습니다.<br/>

    결제일시:     [[${info.approved_at}]]<br/>
    주문번호:    [[${info.partner_order_id}]]<br/>
    상품명:    [[${info.item_name}]]<br/>
    상품수량:    [[${info.quantity}]]<br/>
    결제금액:    [[${info.amount.total}]]<br/>
    결제방법:    [[${info.payment_method_type}]]<br/>

    <a href="/" class="btn btn-primary">홈으로</a>
  </div>
  <div th:replace="~{fragments/footer :: footer}"/>
</div> <!-- /container -->
</body>
</html>
