<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div>
        <table class="table table-striped">
            <thead> <tr>
                <th>#</th> <th>상품</th> <th>상품명</th> <th>가격</th> <th>재고수량</th><th>브랜드</th> <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="electronicsAndFileDto, status : ${allElectronics}">
                <!-- 첨부 파일 링크 -->
                <td th:text="${status.index + 1}"></td>
                <td>
                    <a th:href="@{/attach/{id}(id=${electronicsAndFileDto.id})}">
                        <img th:if="${electronicsAndFileDto.uploadFileName != null}"
                             th:src="@{/images/{filename}(filename=${electronicsAndFileDto.storeFileName})}"
                             width="50" height="50"/>
                    </a>
                </td>
                <td th:text="${electronicsAndFileDto.name}"></td>
                <td th:text="${electronicsAndFileDto.price}"></td>
                <td th:text="${electronicsAndFileDto.quantity}"></td>
                <td th:text="${electronicsAndFileDto.brand}"></td>
                <td>
                    <form th:action="@{/buy}" method="post">
                        <input type="hidden" name="itemId" th:value="${electronicsAndFileDto.id}">
                        <input type="number" name="quantity" value="1" min="1" required>
                        <button class="btn btn-dark btn-lg" type="submit">
                            장바구니 추가
                        </button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>