<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}" />
<body>
<div class="container">
    <div th:replace="~{fragments/bodyHeader :: bodyHeader}"/>
    <div>
        <table class="table table-striped">
            <thead> <tr>
                <th>Number</th> <th>상품</th> <th>상품명</th> <th>가격</th> <th>재고수량</th><th>브랜드</th><th>수량</th> <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="foodAndFileDto, status : ${allFood}">
                <!-- 첨부 파일 링크 -->
                <td th:text="${status.index + 1}"></td>
                <td>
                        <img th:if="${foodAndFileDto.uploadFileName != null}"
                             th:src="@{/images/{filename}(filename=${foodAndFileDto.storeFileName})}"
                             width="50" height="50"/>
                </td>
                <td th:text="${foodAndFileDto.name}"></td>
                <td th:text="${foodAndFileDto.price}"></td>
                <td th:text="${foodAndFileDto.quantity}"></td>
                <td th:text="${foodAndFileDto.brand}"></td>
                <td>
                    <form th:action="@{/addCart}" method="post">
                        <input type="hidden" name="itemId" th:value="${foodAndFileDto.id}">
                        <input type="number" name="quantity" value="1" min="1" required>
                        <button class="btn btn-dark btn-lg" type="submit">
                            장바구니 추가
                        </button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:if="${!allFood.isEmpty()}">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${!allFood.hasPrevious} ? 'disabled'">
                <a class="page-link"
                   th:href="@{|?page=${allFood.number-1}|}">
                    <span>이전</span>
                </a>
            </li>
            <li th:each="page: ${#numbers.sequence(0, allFood.totalPages-1)}"
                th:if="${page >= allFood.number-5 and page <= allFood.number+5}"
                th:classappend="${page == allFood.number} ? 'active'"
                class="page-item">
                <a th:text="${page}" class="page-link" th:href="@{|?page=${page}|}"></a>
            </li>
            <li class="page-item" th:classappend="${!allFood.hasNext} ? 'disabled'">
                <a class="page-link" th:href="@{|?page=${allFood.number+1}|}">
                    <span>다음</span>
                </a>
            </li>
        </ul>
    </div>

    <div th:replace="~{fragments/footer :: footer}"/>
</div> <!-- /container -->
</body>
</html>