<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-
 to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" integrity="sha384-
 ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="/css/jumbotron-narrow.css" rel="stylesheet">
    <title>상품 등록</title>

    <style>
    .buy-button-container {
    position: fixed; /* 화면에 고정 */
    bottom: 20px; /* 아래 여백 설정 */
    right: 20px; /* 오른쪽 여백 설정 */
    z-index: 999; /* 다른 요소 위로 배치 */
    }
    </style>
</head>